<h2>Settings</h2>

<form class="form-group" {{action "saveDetailEdit" employeeDetail on="submit"}}>
	<div class="checkbox">
      <label>
	    {{input type="checkbox" name=value_1 placeholder="First Name"}} Value 1
	  </label>
	</div>
	<div class="checkbox">
      <label>
		{{input type="checkbox" name=value_2 placeholder="Last Name"}} Value 2
	  </label>
	</div>
	<div class="checkbox">
      <label>
		{{input type="checkbox" name=value_3 placeholder="Email"}} Value 3
	  </label>
	</div>
	<div class="checkbox">
      <label>
    	{{input type="checkbox" name=value_4 placeholder="Telephone"}} Value 4
      </label>
    </div>
	<div class="checkbox">
      <label>
		{{input type="checkbox" name=value_5 placeholder="Department"}} Value 5
	  </label>
	</div>
	<div class="checkbox">
      <label>
	    <button type="submit">Save</button>
	  </label>
	</div>
</form>
<button {{action "cancelDetailEdit"}}>Cancel</button>
